/*! styles.css v2.0.2 */
@charset "UTF-8";

/* ================
   HTML BODY FORMAT
   ================ */

article,
aside,
details,
footer,
header,
nav,
section {
    display: block;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

html,
body,
article,
aside,
main,
menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 0, 0.8);
}

input {
    margin: 5px 0;
}

/* ========================
     HEADINGS and FONTS
   ======================== */

h1, h2, h3, h4, h5, h6, p, a, header, html {
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

/* Text styles and margins */

p {
	margin-bottom: 15px;
}
h1 {
	font-size: 36px;
	margin: 40px 0 20px;
}
h2 {
	font-size: 32px;
	margin: 30px 0 15px;
}
h3 {
	font-size: 28px;
	margin: 25px 0 10px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 10px;
}
h6 {
	font-weight: bold;
	margin: 5px 0;
}

a {
	color: #e80027;
	text-decoration: none;
}

a:hover {
	color: #980019;
}

/* ================
        HEADER
   ================ */

#hamburger {
	display: none;
}

#menu-logo {
	position: fixed;
	top: 2px;
	left: 5px;
	width: 48px;
	height: 48px;
}

header {
	position: relative;
	background: #fff;
	padding: .75%;
	box-shadow: 0px 0px 3px 2px #353535;
}

.header-title {
	flex: 0 0 20%;
	margin: 0 0;
	padding: 3px 0;
}

nav {
	margin: 0 15%;
}

header ul {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	flex: auto;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

header li {
	background: #f3f3f3;
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 19px;
	padding: 3% 5%;
	margin: 0 6%;
	display: block;
	flex: auto;
	list-style-type: none;
	text-align: center;
	max-width: 150px;
	box-shadow: 0px 0px 4px 0px #353535;
}

header li:hover {
	background: #e4e4e4;
}

header ul a {
	flex: auto;
	font-size: 18px;
}

/* ================
     MAIN CONTENT
   ================ */

main {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	flex: auto;
	background-image: url(/static/images/selfie.jpg);
	background-size: 90%;
	background-position-x: -180px;
	background-repeat: no-repeat;
}

aside {
	min-width: 310px;
	overflow-y: auto;
	flex: 1;
	background: #fff;
	box-shadow: 0px -6px 3px 2px #353535;
}

article {
	min-width: 310px;
	overflow-y: auto;
	min-height: 400px;
	flex: 3;
	text-align: center;
}

.confirmation p {
	font-style: italic;
	color: #0cff00;
	text-shadow: 1px 1px 1px #353535;
	font-size: 25px;
	margin: .5% 10%;
}

.failure p {
	font-style: italic;
	color: #ff0730;
	text-shadow: 1px 1px 1px #353535;
	font-size: 25px;
	margin: .5% 10%;
}

/* ================
     TWEET BUTTON
   ================ */

#translation {
	margin: 0% 20%;
	padding: 1% 1%;
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
	text-align: left;
	font-size: 18px;
    color: #00;
}

.translatebutton {
	background: #fff;
	color: #000;
	border-radius: 10px;
	text-decoration: none;
	border: 1px groove #339dc3;
}

#rules {
	margin: 1% auto;
	text-align: center;
	width: 35%;
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
}

#tweet-input {
	padding: 5px;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 4px 0px #353535;
	width: 60%;
	font-size: 20px;
}

.tweetbutton {
	border-radius: 10px;
	-webkit-appearance: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #339dc3;
	padding: 7px 14px;
	font-weight: bold;
	font-size: 20px;
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	color: #fff;
	text-decoration: none;
	border: 1px groove #339dc3;
}

.tweetbutton:hover {
	background: #2683a5;
	cursor: pointer;
}

/* ================
       FEATURES
   ================ */

#flash {
	color: rgba(0, 0, 0, .6);
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: flashing;
	animation-duration: 1s;
	animation-iteration-count: 5;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flashing {

	from {
		color: #0ec5e6;
	}
	to {
		color: #f3ef13;
	}
}

/* Standard syntax */
@keyframes flashing {

	from {
		color: #0ec5e6;
	}
	to {
		color: #f3ef13;
	}
}

#features {
	font-size: 40px;
}

.empty {
	display: none !important;
}

#featureform {
	font-size: 22px;
	text-align: left;
}

#features-outer {
	position: fixed;
	top: 95px;
	left: 1%;
	max-width: 60%;
}

.features-box-data {
	margin: 0;
	padding: 2% 0 0 5%;
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
	text-align: left;
}

.features-box-data li {
	padding: .3%;
	margin: 0 2%;
	font-size: 16px;
}

.features-box-data ul {
	padding: 0 10px;
}

#search-input {
	padding: 5px;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 4px 0px #353535;
	background-color: white;
	cursor: auto;
	width: 75%;
	font-size: 15px;
}

#features-app {
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
	max-width: 35%;
	float: right;
	margin: 1% 1%;
	padding: 1% 5%;
	text-align: left;
}

/* ================
       FOOTER
   ================ */

footer {
	box-shadow: 0px 0px 3px 2px #353535;
	position: relative;
	padding: 0 15%;
}

footer p {
	text-align: center;
	margin: .25%;
}

footer a {
	padding: 0 1%;
}

/* =================
     MEDIA QUERIES
   ================= */

@media (max-width: 1200px) {

	nav {
		margin: 0 5%;
	}

	main {
		background-size: 100%;
		background-position-x: -170px;
	}

	.features-box-data li {
		font-size: 16px;
	}
}


@media (max-width: 900px) {

	#menu-logo {
		width: 32px;
		height: 32px;
	}

	main {
		background-size: 140%;
		background-position-x: -300px;
	}

	article {
		flex: 2;
	}

	header li {
		max-width: 100%;
		margin: 0 3%;
	}

	header ul a {
		font-size: 16px;
	}

	#features-app {
		max-width: 74%;
	}

	#features-outer {
		max-width: 70%;
	}

	#feature-form {
		margin: 0 0;
		font-size: 16px;
	}

	#rules {
		width: 60%;
	}

	#search-input {
		width: 80%;
		font-size: 12px;
	}
}


@media (max-width: 600px) {

	#translation {
		margin: 0% 2%;
	}

	#menu-logo {
		width: 43px;
		height: 43px;
		left: 56px;
		top: 2px;
	}

	#features-outer {
	    	top: 5px;
		position: relative;
		max-width: 90%;
		margin-top: 5px;
	}

	#hamburger {
		display: unset;
		font-size: 40px;
	}

	.hidden {
		display: none;
	}

	.visible {
		display: unset;
	}

	header ul a {
		min-width: 75%;
		font-size: 30px;
	}

	html,
	body,
	aside,
	article {
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
		height: 100%;
	}

	main {
		overflow: scroll;
		background-size: 225%;
		background-position-x: -200px;
	}

	aside {
		box-shadow: 0px 0px 3px 2px #353535;
	}

}
