$def with (tweetvar)
	$if tweetvar == "profanity":
		<article class="failure">
			<p>unsuccessful <i class="fa fa-frown-o" aria-hidden="true"></i></p>
			<p>please don't use profanity</p>

	$elif tweetvar == "failure":
		<article class="failure">
			<p>unsuccessful <i class="fa fa-frown-o" aria-hidden="true"></i></p>
			<p>your tweet failed possibly to these reasons:<br>
			  is this a repeated tweet?<br>
			  did you reach your max tweets?<br>
			  are you following twitter's API rules?
			</p>

	$else:
		<article class="confirmation">
			<p>success! <i class="fa fa-smile-o" aria-hidden="true"></i></p>
			<p>$tweetvar</p>

</article>
