$def with (tweetvar)
	$if tweetvar == "profanity":
		<article class="failure">
			<p>unsuccessful <i class="fa fa-frown-o" aria-hidden="true"></i></p>
			<p>please don't use profanity</p>

	$elif tweetvar == "failure":
		<article class="failure">
			<p>unsuccessful <i class="fa fa-frown-o" aria-hidden="true"></i></p>
			<p>twitter API did not tweet.<br>
			  is this a repeated tweet?<br>
			  did you reach your max tweets?</p>

	$else:
		<article class="confirmation">
			<p>success! <i class="fa fa-smile-o" aria-hidden="true"></i></p>
			<p>$tweetvar</p>

</article>
