<article>
	<div id="features-app">
		<a id="features-two" href="#" style="font-size: 20px;">
			<i class="fa fa-wrench" aria-hidden="true"></i> features info
		</a>
		<form method="POST" id="featureform" enctype="multipart/form-data">
		  <input type="checkbox"
				 name="retweet"
				 > retweet & follow<br/>
		  <input type="checkbox"
				 name="followten"
				 > follow 10<br/>
		  <span style="font-size:15px">
			search terms (default #diversity)</span><br />
		  <input type="text"
				 name="searchterms"
				 id="search-input"
				 placeholder="used with retweet and follow 10"
				 maxlength="25"
				 ><br/>
		  <input type="checkbox"
				 name="followthem"
				 > follow followers<br/>
		  <input type="checkbox"
				 name="autotweet"
				 > auto tweet file<br/>
		  <input type="file" name="inputfile" accept=".txt"><br>
		  <span style="font-size:15px">
			interval: N seconds (default: 1 day)</span><br />
		  <input type="number"
				 name="seconds"
				 min="10800"
				 max="600000"
				 title="min: 3 hours to max: 7 days in seconds"><br>
		  <input type="submit" value="&#xf099 Automate" class="tweetbutton">
		</form>
		*participation requires compliance of
		<a href="https://support.twitter.com/articles/18311"
		   target="_blank">"The Twitter Rules"</a>
	</div>
</article>
