<article>
	<div id="features-app">
		<span style="color: #339dc3;">
			<i class="fa fa-wrench" aria-hidden="true"></i> features:
		</span>
		<form id="featureform" action="/features" method="POST">
		  <input type="checkbox"
				 name="retweet"
				 value="retweet">retweet & follow<br/>
		  <input type="text"
				 name="searchterms"
				 placeholder="search terms for retweet"
				 maxlength="25"
				 id="search-input"><br/>
		  <input type="checkbox"
				 name="followthem"
				 value="followthem">follow followers<br/>
		  <input type="submit" value="&#xf099 Automate" class="tweetbutton">
		</form>
		*participation requires compliance of
		<a href="https://support.twitter.com/articles/18311" target="_blank">"The Twitter Rules"</a>
	</div>
</article>
