<main>
  <article>
    <h1>public twitter account</h1>
    <form action="/" method="POST">
      <input type="text"
	     name="tweet"
	     id="tweet-input"
	     placeholder="type custom tweet here"
	     maxlength="140"
	     size="75"
	     required
	     >
      <br/>
      <br/>
      <input type="submit" value="&#xf099 Tweet" class="tweetbutton">
    </form>
    <br/>
    <img src="/static/images/selfie.jpg" alt="selfie" style="max-width:500px;"/>
  </article>
  <aside>
    <a class="twitter-timeline" data-width="500" data-link-color="#2B7BB9" href="https://twitter.com/are_no_one">Tweets by are_no_one</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </aside>
</main>
