$def with (content)
<!doctype html>
<html lang="en">
  <head>
    <title>twitter-bot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="static/images/valar-morghulis.jpg"/>
    <meta property="og:description" content="twitter bot: tweet, retweet, and follow"/>
    <meta property="og:url" content="public-twitter.mybluemix.net"/>
    <link rel="icon" href="static/images/hundled-around-tablet.jpg"/>
    <link rel="icon" href="static/images/valar-morghulis.jpg"/>
    <!--Styles-->
    <link href="static/css/styles.css" rel="stylesheet"/>
    <link href="static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
      <h3 class="header-title"><a href="/">twitter bot</a></h3>
        <ul>
          <li>
            <a href="/">bot features</a>
          </li>
          <li>
            <a href="https://twitter.com/are_no_one" target="_blank">@are_no_one</a>
          </li>
          <li>
            <a href="https://github.com/johncoleman83/twitter-bot" target="_blank">code on github</a>
          </li>
          <li>
            <a href="http://www.davidjohncoleman.com/blog/" target="_blank">about this app</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      $:content
      <aside>
	<a class="twitter-timeline" data-width="350" data-link-color="#2B7BB9"
	   href="https://twitter.com/are_no_one">Tweets by are_no_one</a>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </aside>
    </main>
    <footer>
      <p>by:
	<a href="http://www.davidjohncoleman.com/" target="_blank">David John Coleman II</a>
	<a href="https://twitter.com/djohncoleman" target="_blank">
	  <i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.facebook.com/johncoleman83" target="_blank">
	  <i class="fa fa-facebook" aria-hidden="true"></i></a>
	<a href="https://github.com/johncoleman83/" target="_blank">
	  <i class="fa fa-github" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/davidjohncoleman/" target="_blank">
	  <i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </p>
    </footer>
  </body>
</html>
